@page
@model ListModel
@{ 
}

<h2>Resturants</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   value="" name="searchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var resaturant in Model.Restaurants)
    {
        <tr>
            <td>@resaturant.Name</td>
            <td>@resaturant.Location</td>
            <td>@resaturant.Cuisine</td>
        </tr>
    }
</table>

@Model.Message