@page
@model ListModel
@{
    
}

<h2>Resturants</h2>

<form action="/" method="get">
    <div class="input-group">
        <input type="search" class="form-control" 
               value="" name="searchTerm"/>
        <span class="input-group-btn">
            <span class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </span>
    </div>
</form>

<table class="table">
    @foreach(var resaturant in Model.Restaurants)
    {
    <tr>
        <td>@resaturant.Name</td>
        <td>@resaturant.Location</td>
        <td>@resaturant.Cuisine</td>
    </tr>
    }
</table>

@Model.Message